Django>=5.1,<5.2
djangorestframework>=3.15,<3.16
djangorestframework-simplejwt>=5.5,<5.6
django-cors-headers>=4.9,<5.0
Pillow>=10.0
psycopg[binary]>=3.2
qrcode>=8.2,<9.0
gunicorn>=22.0,<23.0
whitenoise>=6.7,<7.0
