{% load websitebuilder_tags %}
{% for block in component.blocks.all %}
    {% with contact_kind=block|block_contact_kind %}
        {% if not block|block_visible_for_company:website.company %}
        {% elif contact_kind %}
        {% elif block|block_is_contact_action and not page_has_contact_form %}
        {% elif block.block_type == "button" or block.block_type == "link" %}
            <a class="wb-btn {% if forloop.first %}primary{% endif %}" href="{{ block.url|default:'#' }}">{{ block|translated_block_text:language }}</a>
        {% endif %}
    {% endwith %}
{% endfor %}
